-r requirements.txt
mypy==1.1.1
Pmw-py3==2.1
wxPython==4.2.0 ; sys_platform != 'linux' and python_version < '3.11'
# -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/ wxPython==4.2.0 ; sys_platform == 'linux'
