name: Type-check scripts

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'idbstubs/**'
      - 'tests/*'
      - '.github/workflows/typecheck_scripts.yml'
      - 'requirements-dev.txt'
  pull_request:
    paths:
      - 'idbstubs/**'
      - 'tests/*'
      - '.github/workflows/typecheck_scripts.yml'
      - 'requirements-dev.txt'

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: pip
          cache-dependency-path: requirements-dev.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Check scripts with Pyright
        uses: jakebailey/pyright-action@v1
        with:
          extra-args: idbstubs tests
          version: 1.1.408
          python-version: '3.14'
