name: Type-check stubs

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'src/**'
      - '.github/workflows/typecheck_stubs.yml'
      - 'requirements-tests.txt'
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/typecheck_stubs.yml'
      - 'requirements-tests.txt'

jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements-tests.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-tests.txt
          pip install .
      - name: Check stubs with mypy
        run: mypy src

  pyright:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements-tests.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-tests.txt
      - name: Check stubs with Pyright
        uses: jakebailey/pyright-action@v2
        with:
          extra-args: src
          version: 1.1.408
          python-version: ${{ matrix.python-version }}
